[Unit]
Description=react server

[Service]
WorkingDirectory=/home/isucon/webapp/react
Type=simple
ExecStart=/usr/bin/node build/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=react-server
Environment=API=http://localhost SSL_KEY=/home/isucon/webapp/ssl/oreore.key SSL_CERT=/home/isucon/webapp/ssl/oreore.crt

[Install]
WantedBy=multi-user.target
