[Unit]
Description=react server

[Service]
WorkingDirectory=/home/isucon/webapp/react
Type=simple
ExecStart=/usr/bin/node build/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=react-server
Environment=PORT=8080 API=http://localhost:8081 MYSQL_HOST=172.29.2.63

[Install]
WantedBy=multi-user.target
